.circulo {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.parte {
    width: 50%;
    height: 50%;
    position: absolute;
}

.red {
    background-color: red;
    top: 0;
    left: 0;
}

.blue {
    background-color: blue;
    top: 0;
    right: 0;
}

.green {
    background-color: green;
    bottom: 0;
    left: 0;
}

.yellow {
    background-color: yellow;
    bottom: 0;
    right: 0;
}
